{% load core_tags %}<html lang="ru" class="has-no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover">
        <title>Заголовок</title>
        <link rel="stylesheet" href="/static/vendor/normalize.min.css">
        <link rel="stylesheet" href="/static/core/css/core.min.css">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">

        {% include "parts/header.html" %}

        <main>
            {% include "parts/circle_list.html" %}
            {% include "parts/editable.html" %}
            {% include "parts/youtube.html" %}
            {% for i in 3|arr %}
                {% include "parts/image.html" %}
            {% endfor %}
        </main>

        <script src="/static/vendor/jquery.min.js"></script>
    </body>
</html>
