{% extends "base.html" %}
{% load core_tags %}

{% block content %}
<main>
    <div class="blog__list">
        {% for item in queryset %}
            <article class="blog__item">
                <time datetime="{{ item.date|date:'Y-m-d' }}">----------{{ item.date|date:'F Y' }}----------</time>
                <h2>{{ item.title|ft }}</h2>
                <a href="{{ item.url }}">
                    {% include "blocks/simple_image.html" with image=item.get_banner %}
                </a>
            </article>
        {% endfor %}
    </div>
</main>
{% endblock content %}
