.left-menu-item.active a{
    color: #ec0b11;
}

.left-menu-item a {
    &:hover {
        color: #e94b54;
    }
}

.left-menu {
    position: fixed;
}

.footer {
    min-height: 100px;
}

.main h3 {
    margin: 0;
    font: italic 24px/26px "Athelas", serif;
    color: #545454;
    font-weight: 600;
    &.w-padding {
        padding: 0 0 20px 0;
    }
    &.wo-padding {
        padding: 0;
    }
}

.to-admin {
    position: fixed;
    top: 0;
    right: 0;
    background: url(../img/thai.jpg);
    background-size: cover;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin: 7px;
    opacity: 0.8;
}

.gallery {
    .gallery-link {
        display: inline-block;
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin: 10px;
        background-size: 250px 250px;
        background-position: 50%;
        transition: background-size .5s;
        -moz-transition: background-size .5s;
        -web-kit-transition: background-size .5s;
        -o-transition: background-size .5s;
        .overlay {
            background: rgba(255,255,255,0.5);
            -webkit-transition: opacity .25s ease;
            -moz-transition: opacity .25s ease;
            height: 246px;
            border-radius: 100%;
            border: 2px solid transparent;
            width: 246px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            opacity: 0;

            .gallery-link-name {
                position: inherit;
                font: bold 25px/30px Helvetica, Arial, Tahoma, sans-serif;
                text-shadow: 0 0 3px black;
                color: white;
            }
        }
        img {
            display: inline-block;
            border-radius: 100%;
            border: 2px solid transparent;
        }

        &:hover {
            cursor: pointer;
            .overlay{
                opacity: 1;
            }
            background-size: 300px 300px;
        }
    }

}

.entry-container {
    width: 940px;
    .entry-list-item {
        display: inline-block;
        height: 250px;
        margin-bottom: 10px;
        text-decoration: none;
        color: black;
        width: 470px;
        background-size: 470px 250px;
        background-position: 50%;
        transition: background-size .5s;
        -moz-transition: background-size .5s;
        -web-kit-transition: background-size .5s;
        -o-transition: background-size .5s;
        &:hover {
            background-size: 500px 280px;
        }

        .plank {
            height: 50px;
            padding: 10px;
            background-color: rgba(255,255,255,0.5);
            text-align: center;
            position: relative;
            .name {
                font: bold 25px/30px Helvetica, Arial, Tahoma, sans-serif;
                text-shadow: 0 0 3px black;
                color: white;
            }
            .date {
                position: absolute;
                bottom: 0;
                right: 10px;
            }
        }
        &:hover {
            text-decoration: none;
            color: black;
            .annotation {
                opacity: 1;
            }
        }
    }
    .annotation {
        height: 180px;
        position: relative;
        width: 450px;
        float: right;
    }
}


