// mixins
.default-text {
    color: black;
    font: 18px/19px Times New Roman, serif;
    @media screen {
        @media (max-width: 860px) {
            font: 25px/27px Times New Roman, serif;
        }
    }
}

.main {
    @media screen {
        @media (max-width: 1170px) {
            margin-left: 0 !important;
        }
    }
}

.left-menu-item.active a{
    color: #ec0b11;
}

.left-menu-item a {
    &:hover {
        color: #e94b54;
    }
}

.left-menu {
    position: fixed;
}

.footer {
    min-height: 100px;
}

.icons-panel {
    position: absolute;
    top: 170px;
    right: 0;
    .icon {
        background: url("../img/icons.png") top left no-repeat;
        width: 45px;
        height: 45px;
        display: inline-block;
        &.fb {
            background-position: 0, 0;
        }
        &.vk {
            background-position: -49px, 0;
        }
        &.ig {
            background-position: -100px, 0;
        }
        &.df {
            background-position: -150px, 0;
        }
    }
}

.main h3 {
    margin: 0;
    font: italic 24px/26px "Athelas", serif;
    color: #545454;
    font-weight: 600;
    &.w-padding {
        padding: 0 0 20px 0;
    }
    &.wo-padding {
        padding: 0;
    }
}

.main h2 {
    // -webkit-margin-after: 0em;
    font: bold 22px/24px Arial, serif;
}

.to-admin {
    position: fixed;
    top: 0;
    right: 0;
    background: url(../img/thai.jpg);
    background-size: cover;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin: 7px;
    opacity: 0.8;
}

.index_text {
    text-align: center;
    margin: 40px 20px 0 -40px;
}

.gallery {
    .gallery-link {
        display: inline-block;
        display: inline-block;
        width: 280px;
        height: 280px;
        border-radius: 100%;
        margin: 10px;
        background-size: 300px 300px;
        background-position: 50%;
        transition: background-size .5s;
        -moz-transition: background-size .5s;
        -web-kit-transition: background-size .5s;
        -o-transition: background-size .5s;
        .index & {
            width: 320px;
            height: 320px;
            background-size: 340px 340px;
            margin: 0;
        }
        @media screen {
            @media (max-width: 1170px) {
                width: 400px;
                height: 400px;
                background-size: 420px 420px;
                display: block;
                margin: 0 auto !important;
                .index & {
                    width: 420px;
                    height: 420px;
                    background-size: 440px 440px;
                }
            }
            @media (max-width: 640px) {
                width: 280px;
                height: 280px;
                background-size: 300px 300px;
            }
        }
        .overlay {
            background: rgba(255,255,255,0.5);
            -webkit-transition: opacity .25s ease;
            -moz-transition: opacity .25s ease;
            height: 276px;
            width: 276px;
            border-radius: 100%;
            border: 2px solid transparent;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            opacity: 0;
            .index & {
                width: 316px;
                height: 316px;
            }
            @media screen {
                @media (max-width: 1170px) {
                    width: 396px;
                    height: 396px;
                    .index & {
                        width: 416px;
                        height: 416px;
                    }
                }
                @media (max-width: 1050px) {
                    display: none;
                }
            }
            @media screen {
                @media (max-width: 640px) {
                    width: 276px;
                    height: 276px;
                }
            }

            .gallery-link-name {
                position: inherit;
                font: bold 25px/30px Helvetica, Arial, Tahoma, sans-serif;
                text-shadow: 0 0 3px black;
                color: white;
                @media screen {
                    @media (max-width: 1170px) {
                        font: bold 40px/45px Helvetica, Arial, Tahoma, sans-serif;
                    }
                }
            }
        }
        img {
            display: inline-block;
            border-radius: 100%;
            border: 2px solid transparent;
        }

        &:hover {
            cursor: pointer;
            .overlay{
                opacity: 1;
            }
            background-size: 400px 400px;
            @media screen {
                @media (max-width: 1170px) {
                    background-size: 420px 420px;
                    .index & {
                        background-size: 440px 440px;
                    }
                }
            }
            @media (max-width: 640px) {
                background-size: 320px 320px;
            }
        }
    }
    .mobile-overlay {
        display: none;
        @media screen {
            @media (max-width: 1050px) {
                display: block;
                background-color: rgba(131, 131, 131, 0.6);
                font: 48px/70px Helvetica, Arial, Tahoma, sans-serif;
                color: white;
                margin: -70px 0 20px 0;
                z-index: 1024;
                position: relative;
                text-shadow: 0 0 3px black;
            }
        }
    }

}

.entry-list-container {
    text-align: center;
    width: 95%;
    position: relative;
    border-bottom: 1px solid black;
    margin: 10px 0;
    .entry & {
        border: none;
        p {
            text-align: justify;
            .default-text;
        }
        img {
            margin: 10px 0;
        }
    }
    .annotation {
        text-align: justify;
        .default-text;
        .entry & {
            display: none;
        }
    }
    .moar {
        font: 14px/16px Arial, serif;
        text-decoration: none;
        color: #7f7c7c;
        width: 100%;
        display: block;
        text-align: left;
        margin: 25px 0;
        .entry & {
            display: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}



