.left-menu-item.active a{
    color: #ec0b11;
}

.left-menu {
    position: fixed;
}

.main h3 {
    margin: 0;
    font: italic 24px/26px "Athelas", serif;
    color: #545454;
    font-weight: 600;
    &.w-padding {
        padding: 0 0 20px 0;
    }
    &.wo-padding {
        padding: 0;
    }
}

.to-admin {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 30px;
    background-color: rgba(245,208,169, 0.5);
    border: 2px solid #E6BA8C;
    border-radius: 5px;
    text-decoration: none;
    color: #585858;
}

