<table border=1>
    <tr>
        <td style="font-weight:700;">Тема</td>
        <td>{{ data.theme }}</td>
    </tr>
    <tr>
        <td style="font-weight:700;">Телефон</td>
        <td>{{ data.phone }}</td>
    </tr>
    <tr>
        <td style="font-weight:700;">Имя</td>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <td style="font-weight:700;">Электронная почта</td>
        <td>{{ data.email }}</td>
    </tr>
    <tr>
        <td style="font-weight:700;">Сообщение</td>
        <td>{{ data.message }}</td>
    </tr>
</table>
