{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load endless %}

{% block title %}Пирогова Олеся &mdash; {{ page.name }}{% endblock title %}

{% block styles_top %}<link rel="stylesheet" href="{% static "core/css/bootstrap-pagination.css" %}">{% endblock styles_top %}

{% block content %}

    {% paginate 10 object_list %}
    <main class="main" role="main">
        {% for object in object_list %}
            <div class="entry-list-container">
                <span class="date">----------{{ object.datetime|date:'F Y'|lower }}----------</span>
                <h2>{{ object.name }}</h2>
                <p class="annotation">{{ object.annotation }}</p>
                <a href="{{ object.get_absolute_url }}"><img src="{{ object.banner|thumbnail_url:'blog_banner' }}"/></a>
                <a class="moar" href="{{ object.get_absolute_url }}">ЧИТАТЬ ДАЛЕЕ&gt;&gt;</a>
            </div>
        {% endfor %}

        {% show_pages %}
    </main>
{% endblock content %}