{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock title %}

{% block fb_sdk %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=237271456457311&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock fb_sdk %}

{% block content %}
    <main class="main" role="main">

        <article class="entry">
            <div class="entry-list-container">
                <span class="date">----------{{ object.datetime|date:'F Y'|lower }}----------</span>
                <h2>{{ object.name }}</h2>
                <p class="annotation">{{ object.annotation }}</p>
                <img src="{{ object.banner|thumbnail_url:'blog_banner' }}"/>
                <a class="moar" href="{{ object.get_absolute_url }}">ЧИТАТЬ ДАЛЕЕ&gt;&gt;</a>
                {{ object.text|safe }}
            </div>
        </article>

        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="940" data-numposts="5" data-colorscheme="light" data-version="v2.3"></div>
    </main>
{% endblock content %}