{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ page.name }}{% endblock title %}

{% block styles_top %}
    {% if page.is_feedback %}
        <link rel="stylesheet" type="text/css" href="{% static "core/css/feedback.css" %}">
    {% endif %}
{% endblock styles_top %}

{% block scripts_bottom %}
    {% if page.is_feedback %}
        <script src="{% static "core/js/form.js" %}"></script>
        <script src="{% static "core/js/initForm.js" %}"></script>
    {% endif %}
{% endblock scripts_bottom %}

{% block content %}
    <main class="main generic" role="main">
        {% if page.is_feedback %}
            {% include "form.html" %}
        {% endif %}

        {% if page.banner %}
            <img class="float-left" src="{{ page.banner|thumbnail_url:'side_page_banner' }}" alt="{{ page.name }}" />
        {% endif %}

        {{ page.text|safe }}

    </main>
{% endblock content %}