{% extends "base.html" %}
{% load thumbnail %}


{% block aside %}
{% if object %}
    <aside class="left-menu">
        {% if index %}
            <a class="left-menu-link menu-link" href="{% url 'index' %}">&#8592; На главную</a>
        {% else %}
            <a class="left-menu-link menu-link" href="{% url 'series' %}">&#8592; Все серии</a>
        {% endif %}
    </aside>
{% endif %}
{% endblock aside %}

{% block content %}
    <main class="main" role="main">
        <div class="gallery">
            {% if object %}
                {{ object.text|default:''|safe }}
                {% for image in object.images.all %}
                    <img src="{{ image.img|thumbnail_url:'gallery_image' }}" alt="{{ image.text|default:'' }}" />
                {% endfor %}
            {% else %}
                {% for gallery in object_list %}
                    <a class="gallery-link" href="{{ gallery.get_absolute_url }}" style="background-image:url({{ gallery.get_cover.img|thumbnail_url:'gallery_image_sqr' }})">
                        <div class="overlay">
                            <span class="gallery-link-name">{{ gallery.name }}</span>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        {% if index and not object %}
            <div class="index_text">{{ page.text|safe }}</div>
        {% endif %}
    </main>
{% endblock content %}