{% extends "base.html" %}
{% load thumbnail %}

{% block aside %}
    <aside class="left-menu">
        <ul class="left-menu-list">
            {% for gal in object_list %}
                <li class="left-menu-item {% if gal.slug == object.slug %}active{% endif %}">
                    <a class="left-menu-link" href="{{ gal.get_absolute_url }}">{{ gal.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock aside %}

{% block content %}
    <main class="main" role="main">
        <div class="gallery">
            {% for image in object.images.all %}
                <img src="{{ image.img|thumbnail_url:'gallery_image' }}" width="921" height="614" alt="" />
            {% endfor %}
        </div>
    </main>
{% endblock content %}