<fieldset class="form__fieldset form__fieldset_login" tabindex="-1" aria-hidden="true">
    <div class="form__field field">
        <input class="field__element" type="text" name="login" id="{{ prefix }}_{{ position }}_login" tabindex="-1" autocomplete="off" value="login">
        <label class="field__label" for="{{ prefix }}_{{ position }}_login">
            Имя пользователя
        </label>
        <label class="field__error" for="{{ prefix }}_{{ position }}_login" id="{{ prefix }}_{{ position }}_login_error" aria-hidden="true"></label>
    </div>
</fieldset>
